body{
		margin: 0;
}

#top{
	width: 100%;
	height: 150px;
	background: #ccc;
}
.breadcrumb_nav{
	width: 300px;
	height: 77px;
	/*background:#f0f;*/
	position: absolute;
	left: 80px;
	top: 60px;
	margin-bottom:20px;
}
.breadcrumb_nav a{
	text-decoration:none;
	color: #F55A19;
}
.breadcrumb_nav span{
	line-height:77px;
	font-size:15px;
}
.profile_tt{
	width:1300px;
	height:40px;
	margin:0 auto;
	border-bottom:1px #ccc solid;
	
}
.profile_form{
	height: 750px;
	width: 700px;
	/*background:#ccc;*/
	margin-top: 50px;
	margin-left: 100px;
	line-height: 50px;
	color: #666666;
	font-size: 14px;
	/*border-right: 1px #ccc solid;*/
	float: left;
}
.profile_form span{
    text-align: left;
    display: inline-block;
    width: 60px;
    height: 25px;
}
.profile_form .ip_1{
	width: 250px;
	height: 25px;
	text-indent: 10px;
}
.profile_form .ip_2{
	width: 15px;
	height: 15px;
}
.profile_form select{
	height: 25px;
	width: 100px;
}
.profile_form .btn1{
	width: 50px;
	height: 28px;
	background:#fff;
	border: 1px #F55A19 solid;
	color: #F55A19;
}
.profile_form .btn2{
	width: 300px;
	height: 50px;
	background: #F55A19;
	border: none;
	color: #fff;
	font-size: 16px;
	margin-top: 30px;
	text-indent: 0;
}
