body{
		margin: 0;
}

#top{
	width: 100%;
	height: 150px;
	background: #ccc;
}
.breadcrumb_nav{
	width: 300px;
	height: 77px;
	/*background:#f0f;*/
	position: absolute;
	left: 80px;
	top: 60px;
	margin-bottom:20px;
}
.breadcrumb_nav a{
	text-decoration:none;
	color: #F55A19;
}
.breadcrumb_nav span{
	line-height:77px;
	font-size:15px;
}
.message_tt{
	width:1300px;
	height:40px;
	margin:0 auto;
	
	border-bottom:1px #ccc solid;
	
}
.message_form{
	height: 450px;
	width: 700px;
	/*background:#ccc;*/
	margin-top: 50px;
	margin-left: 100px;
	line-height: 50px;
	color: #666666;
	font-size: 14px;
	border-right: 1px #ccc solid;
	float: left;
}
.message_form input{
	width: 502px;
	height: 20px;
	margin-left: 20px;
	text-indent: 10px;

}

.message_form .cont{
	display: block;
	float: left;
	margin-right: 20px;
}
.message_form textarea{
	width: 500px;
	height: 150px;
	resize : none;
	text-indent: 10px;
	padding-top: 10px;
	margin-top: 15px;
}
.message_form .btn{
	width: 300px;
	height: 50px;
	background: #F55A19;
	border: none;
	color: #fff;
	font-size: 16px;
	margin-top: 30px;
	margin-left: 60px;
	text-indent: 0;
}
.message_list{
	margin-top: 50px;
	margin-left: 50px;
	width: 520px;
	height: 450px;
	/*background:#333;*/
	float: left;
}
.message_list .ml_tt{
	height: 60px;
	width: 520px;
	font-size: 20px;
	line-height: 60px;
	text-indent: 50px;
	/*background:#ccc;*/
	background: url('../userimg/message/笔记本.png') no-repeat 5px;
	background-size: 40px 40px;
	border-bottom: 1px #E4E4E4 solid;
}
.message_list .ml_ls{
	width: 520px;
	height: 390px;
	position: absolute;
	/*background:#000;*/
}
.message_list .ml_ls .ml_ft{
	font-size: 13px;
	color: #666666;
	position: relative;
	left:410px;
	top: 360px;
	/*top: 20px;*/
}
