
    <title>my壹点壹客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- 引入 Bootstrap -->
    <link href="{$smarty.const.CSS_URL}bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{$smarty.const.Public_URL}fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{$smarty.const.CSS_URL}normalize.css">
    <link rel="stylesheet" href="{$smarty.const.CSS_URL}ydyk.css">
    <!--<link rel="stylesheet" href="{$Think.CSS_URL}ydyk.css">-->
    <script src="{$smarty.const.JS_URL}jquery_3.2.1.min.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="{$smarty.const.JS_URL}bootstrap.min.js"></script>
    <script src="{$smarty.const.Public_URL}layer/layer/layer.js"></script>
