<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}bootstrap.min.css" />
		<link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}common.css" />
		<link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_CSS_URL}shopSet.css"/>
		<script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}jquery.min.js"></script>
		<script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}bootstrap.min.js"></script>
		<script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}common.js" ></script>
	</head>
	<body>
		<div class="tabs">
			<div class="page-header">
				<h4>商品分类 <small> 编辑商品分类</small></h4>
			</div>
		</div>
		<!--tabs end-->
		<div class="formlist">
			<form class="form-horizontal" role="form" method="post" 
				action="{$url}">
			   <div class="form-group">
			      <label for="cname1" class="col-xs-2 control-label">分类名称（中文）</label>
			      <div class="col-xs-8">
			         <input type="text" class="form-control" id="cname1" name="cname1"
			          required="required" oninvalid="setCustomValidity('分类名称（中文）不能为空')"
			          oninput="setCustomValidity('')" maxlength="30"
			            placeholder="请输入分类名称（中文）" value="{$info.cname1}"/>
			        <small>分类名称（中文）</small>
			        {if $info.cid}
			        <input type="hidden" name="cid" value="{$info.cid}" />
			        {/if}
			      </div>
			   </div>
			   <div class="form-group">
			      <label for="cname2" class="col-xs-2 control-label">分类名称（英文）</label>
			      <div class="col-xs-8">
			         <input type="text" class="form-control" id="cname2" name="cname2"
			            maxlength="50"
			            placeholder="请输入分类名称（英文）" value="{$info.cname2}"/>
			         <small>分类名称（英文），可以为空</small>
			      </div>
			   </div>
			   <div class="form-group">
			      <label for="sort" class="col-xs-2 control-label">排序</label>
			      <div class="col-xs-8">
			         <input type="number" class="form-control" id="sort" name="sort" 
			         required="required" oninvalid="setCustomValidity('请检查分类排序')"
			         oninput="setCustomValidity('')" min="0" value="{$info.sort}"
			            placeholder="请输入排序">
			         <small>分类排序，最小值为0，数字越大，排序越靠后</small>
			      </div>
			   </div>
			   <div class="form-group">
			      <label for="pwd1" class="col-xs-2 control-label">选择上级分类</label>
			      <div class="col-xs-8">
			         <select name="upid" class="form-control input-sm">
			         	<option value="0">顶级分类  ——分类级别:1</option>
			         	{foreach item=i from=$list}
			         	{if $info.upid eq $i.cid}
			         	<option value="{$i.cid}" selected="selected">{$i.cname1} ——分类级别:{$i.level}</option>
			         	{else if $info.cid neq $i.cid}
			         	<option value="{$i.cid}">{$i.cname1} ——分类级别:{$i.level}</option>
			         	{/if}
			         	{/foreach}
			         </select>
			         <small>如果没有上级分类，请选择顶级分类</small>
			      </div>
			   </div>
			   
			   <div class="form-group">
			      <div class="col-sm-offset-2 col-sm-10">
			         <button type="submit" id="submit" class="btn btn-primary">确认提交</button>
			      </div>
			   </div>
			</form>
		</div>
	</body>
</html>
