<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}bootstrap.min.css" />
		<link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}bootstrap-fileinput.css" />
		<link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}common.css" />
		<link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_CSS_URL}shopSet.css"/>
		<script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}jquery.min.js"></script>
		<script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}bootstrap.min.js"></script>
		<script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}common.js" ></script>
		<script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}bootstrap-fileinput.js" ></script>
	</head>
	<body>
		<div class="tabs">
			<div class="page-header">
				<h4>广告详情 <small> 广告添加 </small></h4>
			</div>
		</div>
		<!--tabs end-->
		<div class="formlist">
			<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data"
			 action="{$url}" onsubmit="return updateCheck()">
			   <div class="form-group">
			      <label for="uname" class="col-xs-2 control-label">广告名称</label>
			      <div class="col-xs-8">
			         <input type="text" class="form-control" id="adname" name="adname"
			          required="required" oninvalid="setCustomValidity('广告名称不能为空')"
			          oninput="setCustomValidity('')" maxlength="20"
			            placeholder="请输入广告名称" value="{$info.adname}"/>
			        <small>广告名称，用于描述广告</small>
			        {if $info.aid}
			        <input type="hidden" name="aid" id="aid" value="{$info.aid}" />
			        {/if}
			      </div>
			   </div>
			   <div class="form-group">
			      <label for="url" class="col-xs-2 control-label">广告链接</label>
			      <div class="col-xs-8">
			         <input type="text" class="form-control" id="url" name="url"
			          required="required" oninvalid="setCustomValidity('email不能为空')"
			          oninput="setCustomValidity('')" maxlength="100"
			            placeholder="请输入广告链接地址" value="{$info.url}"/>
			         <small>广告链接地址，用于跳转页面</small>
			      </div>
			   </div>
			   <div class="form-group">
			      <label for="photo" class="col-xs-2 control-label">广告图片</label>
			      <div class="col-xs-8">
			      	{if $info.photo}
			      	<div class="imgbox" id="img1">
						<img src="{$smarty.const.upload_url}{$info.photo}" />
						<button type="button" class="btn btn-danger" onclick="dellogo('1')">-</button>
					</div>
			      	
			        <div class="fileinput fileinput-new" data-provides="fileinput"
			        	id="fileinput" style="display: none;">
			        {else}
			        <div class="fileinput fileinput-new" data-provides="fileinput">
			        {/if}
	                    <div class="fileinput-new thumbnail">
	                        <img id="picImg" style="width: 100%;height: auto;min-height: 140px;"
	                         src="/Public/admin/images/noimage.png" alt="">
	                    </div>
	                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
	                    <div>
	                        <span class="btn btn-primary btn-file">
	                            <span class="fileinput-new">选择文件</span>
	                            <span class="fileinput-exists">换一张</span>
	                            <input type="file" name="photo" id="photo"
	                            accept="image/gif,image/jpeg,image/x-png" />
	                        </span>
	                        <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput">移除</a>
	                    </div>
	                 </div><!-- #exampleInputUpload -->
			         <small>选择广告图片</small>
			      </div>
			   </div>
			   <div class="form-group">
			      <label for="lastname" class="col-xs-2 control-label">广告位置</label>
			      <div class="col-xs-8">
			          <select class="form-control input-sm" name="position">
				         <option value="0">首页展示</option>
				         <option value="1">产品轮播</option>
				      </select>
			         <small>广告位置</small>
			      </div>
			   </div>
			   <div class="form-group">
			      <div class="col-sm-offset-2 col-sm-10">
			         <button type="submit" id="submit" class="btn btn-primary">确认提交</button>
			      </div>
			   </div>
			</form>
		</div>
		<!-- 模态声明，show 表示显示 -->
		<div class="modal" tabindex="-1" id="myModal">
		     <!-- 窗口声明 -->
		     <div class="modal-dialog">
		        <!-- 内容声明 -->
		        <div class="modal-content">
		              <!-- 头部 -->
		              <div class="modal-header">
		                 <button type="button" class="close"
		                            data-dismiss="modal" onClick="close_modal()">
		                          <span>&times;</span>
		                  </button>
		                  <h4 class="modal-title">标题</h4>
		              </div>
		              <!-- 主体 -->
		              <div class="modal-body">
		                   <p id="modal-body">内容</p>
		              </div>
		              <div class="modal-footer">
			            <button type="button" class="btn btn-default" onClick="close_modal()"
			               data-dismiss="modal">关闭
			            </button>
			         </div>
		        </div>
		     </div>
		</div><!--.alert end-->
<script type="text/javascript">
function updateCheck(){
	var photo=$('#photo').val();
	var id=$('#aid').val();
	if(id){
		modal_show('系统提示','系统处理中，请耐心等待');
		return true;
	}else if(photo){
		modal_show('系统提示','图片正在上传中，请耐心等待');
		return true;
	}else{
		modal_show('系统提示','请选择广告图片');
		return false;
	}
}
function dellogo(id){
	$('#img1').remove();
	$('#fileinput').css('display','block');
}
</script>
	</body>
</html>
