<!DOCTYPE html>
<html>
<head>
	{include file="common/commonHeader.html"}
	<link rel="stylesheet" href="{$smarty.const.CSS_URL}huiyuan/dianjin.css">
</head>
<body>
	<!-- 首页-产品-xxx -  -->
	<div class='breadcrumb_nav' >
		<div>
			<a href="index.php?m=home&c=index&a=index"><span>首页</span></a>
			<span>></span>
			<a href="index.php?m=home&c=center&a=index"><span>个人中心</span></a>
			<span>></span>
			<a href="#"><span>规则说明</span></a>
		</div>
	</div>


	<div class='layout'>
		<div class='layout_tt'>
			<span style="margin-left: 60px;">点金说明</span>
		</div>
		<div class = 'rule_list'>
			<div class="border">
               <span>什么是点金?</span>
             </div>
             <div class="_content">
                 <span style="">点金是壹点壹客对会员的回馈。<br>
                 积累点金可用于升级会员等级或等值兑换数字蜡烛、保温包等蛋糕配件。<br>
                 您可选择在每次购买产品时兑换配件，但点金不能用来兑换现金、不找赎、不开发票。点金两年有效，敬请留意。</span><br>
            </div>

            <div class="border">
               <span>点金的获得方式?</span>
             </div>
             <div class="_content">
                 <span style="">壹点壹客会员订购壹点壹客产品并成功配送，将获得订单支付金额10%作为点金（不包括配件金额）；若发生退货，将收回相对应的点金。<br>
                 点金将在成功配送后2个工作日到帐（遇节假日顺延），如急需使用点金，请致电4006-517-217由客服人员处理。<br>
                 注：非常规产品、已享受优惠的支付方式不享有点金赠送。</span><br>  
            </div>
			
			<div class="border">
               <span>点金积累的有效条件？</span>
             </div>
             <div class="_content">
                 <span style="margin-top: 10px">壹点壹客点金两年有效，以电子数据形式保存于壹点壹客网站中，会员随时可以登录。<br>
                 www.1date1cake.com网站，在“会员中心”-“会员首页”查询账户下的“点金”，并按相关规定使用。<br>
                 会员不可将点金转让给他人，不同账户下的点金不可以合并使用。</span><br>

            </div>


		</div>
		

		
			
	</div>



	<div style="clear: both"></div>


	{include file="common/footer.html"}


</body>
</html>




					
					
					