<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <title>berries</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <!-- 引入 Bootstrap -->
        <link href="{$smarty.const.CSS_URL}bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{$smarty.const.Public_URL}fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{$smarty.const.CSS_URL}normalize.css">
        <link rel="stylesheet" href="{$smarty.const.CSS_URL}ydyk.css">
        <script src="{$smarty.const.JS_URL}jquery_3.2.1.min.js"></script>
        <!-- 包括所有已编译的插件 -->
        <script src="{$smarty.const.JS_URL}bootstrap.min.js"></script>
        <script src="{$smarty.const.Public_URL}/layer/layer.js"></script>

    </head>
<body>
<header id="shopDetailHead" class="brand-nav">
    {include file="./nav.html"}
</header>

<div class="page_banner" style="position: relative;height: 560px;background: url('{$smarty.const.IMAGES_URL}brand_trip/berries/2-0.jpg') no-repeat;">
    <div class="layout" style="position: relative;width: 1200px;margin: 0 auto">
        <div class="b1" style="border:none;">
            <img src="{$smarty.const.IMAGES_URL}brand_trip/berries/berries_word.png" style="margin-top: 50px;">
        </div>
    </div>
</div>

<div style="background-color:#f3f3f3;text-align: center;line-height: 30px;">
    <div style="padding-top: 75px;"><span class="first_words" style="color:#000000;font-size: 30px;margin-top: 75px">每一度的甜，都凝结着辛劳</span></div>
    <p class="word middle_one" style="padding-top:30px;">为了寻求最优质的当季草莓</p>
    <p class="word middle_one" ">6年，壹点壹客往返世界各地寻莓1000次</p>
    <p class="word middle_one" >带来超过500万颗新鲜草莓</p>
    <p class="word middle_one" >每颗草莓都能感受得到温度和生命</p>
    <p class="word middle_one" >在大棚内、加工车间、运输途中，每一刻草莓都在生长</p>
    <p class="word middle_one" >口感、香味、外观也在发生着变化</p>
    <img style="margin:0 auto;margin-top:50px;" src="{$smarty.const.IMAGES_URL}brand_trip/berries/berries_one.jpg" alt="草莓">
</div>

<div class="first">
    <img src="{$smarty.const.IMAGES_URL}brand_trip/berries/2-2.jpg" width="100%" height="100%">
</div>
<div style="background-color:#f3f3f3;text-align: center;line-height: 30px;">
    <div style="padding-top: 75px;"><span class="first_words" style="color:#000000;font-size: 30px;margin-top: 75px">丹东</span></div>
    <p class="word middle_one" style="padding-top:30px;">中国陆路边境线的终点，海洋边境线的起点。</p>
    <p class="word middle_one" ">依山靠水，冬无严寒，夏无酷暑</p>
    <p class="word middle_one" >“丹东之于草莓，好比西湖之于龙井”</p>
    <p class="word middle_one" style="padding-bottom: 80px;margin-bottom: 0">丹东草莓，连续出口近10年，享誉世界</p>
</div>


<div class="first" style="">
    <img src="{$smarty.const.IMAGES_URL}brand_trip/berries/2-3.jpg" width="100%" height="100%">
</div>
<div style="background-color:#f3f3f3;text-align: center;line-height: 30px;">
    <div style="padding-top: 75px;"><span class="first_words" style="color:#000000;font-size: 30px;margin-top: 75px">红颜，目前最优秀的日本系列草莓</span></div>
    <p class="word middle_one" style="padding-top:30px;">果实圆锥形，种子黄而微绿，稍凹入果面</p>
    <p class="word middle_one" ">果肉橙红色，质密多汁，香味浓香，糖度高</p>
    <p class="word middle_one" >风味极佳，果皮红色，富有光泽</p>
    <p class="word middle_one" style="padding-bottom: 80px;margin-bottom: 0">韧性强，果实硬度大，耐贮运</p>
</div>
<div class="first" style="">
    <img src="{$smarty.const.IMAGES_URL}brand_trip/berries/2-1.jpg" width="100%" height="100%">
</div>

<div class="first word" style="background-color:#f3f3f3;line-height: 40px;">
    <p class="word" style="text-align: center;padding-top:75px;">草莓自然成熟</p>
    <p class="word" style="text-align: center;">外观呈心形，色泽红亮，均匀为佳</p>
    <p class="word" style="text-align: center;">表面种子呈金黄色，平均单果重15.3g</p>
    <p class="word" style="text-align: center;">果实质感结实，硬度为0.48kg/ c㎡</p>
    <p class="word" style="text-align: center;">直径达3.5-4厘米，萼片紧贴果实</p>
    <p class="word" style="text-align: center;padding-bottom: 80px;margin-bottom: 0">——《壹点壹客食材验收标准》</p>
</div>

<div class="first" style="margin-top:150px;">
    <div style="width:1200px;height:85px;margin: 0 auto;">
        <img src="{$smarty.const.IMAGES_URL}brand_trip/berries/dian.png" width="100%" height="100%">
    </div>
</div>


<footer id="shopDetailFooter" style="margin-top: 75px;">
    {include file="./footer.html"}
</footer>

<div class="commonModal">
    {include file="./modal.html"}
</div>

<script src="{$smarty.const.JS_URL}ydyk.js"></script>

</body>
</html>