<!DOCTYPE html>
<html>
<head>
	<title>购物车2</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<!-- 引入 Bootstrap -->
	<link href="{$smarty.const.CSS_URL}bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{$smarty.const.Public_URL}fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{$smarty.const.CSS_URL}normalize.css">
	<link rel="stylesheet" href="{$smarty.const.CSS_URL}ydyk.css">
	<script src="{$smarty.const.JS_URL}jquery_3.2.1.min.js"></script>
	<!-- 包括所有已编译的插件 -->
	<script src="{$smarty.const.JS_URL}bootstrap.min.js"></script>
	<script src="{$smarty.const.Public_URL}layer/layer/layer.js"></script>
	<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL}shopcar2.css">
	<script type="text/javascript" src="{$smarty.const.JS_URL}shopcar2.js"></script>
	
	<script src="{$smarty.const.JS_URL}js/distpicker.data.js"></script>
	  <script src="{$smarty.const.JS_URL}js/distpicker.js"></script>
	  <script src="{$smarty.const.JS_URL}js/main.js"></script>
</head>
<body>
<!-- 头部导航条位置 -->
<header id="shopDetailHead" class="shopDetail-nav" style="">
	{include file="./nav.html"}
</header>
<!-- 结束 -->

	<div id="cnt">
		<div class="ct-link1"><a href="">首页</a>>购物车</div>
		<div class="ct-top1">
			<div class="ct-t1-txt"><font color="#D2A089">1.加入购物车</font></div>
			<div class="ct-t1-txt"><font color="#FF5000">2.填写核对订单信息</font></div>
			<div class="ct-t1-txt">3.完成订单</div>
		</div></br>
		<div class="ct-top2">配货信息</div>
		<div class="ct-top3"> 
			<span class="ct-t3-span">配送方式 ：</span>
			<div class="ct-t3-left">送货上门</div>
		</div>
		<div class="ct-top4">
			<font color="#FF5000">※温馨提示：</font> 
			修改地址请提前6小时来电，如临时修改地址可能会产生额外的费用。
		</div>

		<div class="ct-top2">收货地址 &nbsp;&nbsp;&nbsp;<button onclick="showAddress()" class="btn btn-warning btn-sm" style="padding: 2px 5px;">添加收货地址</button></div>

		<div class="ct-top5" id="addAdress" style="display: none">
            <button class="close" style="position: relative;top: -20px;right: -20px;">X</button>
			<label class="control-label">选择地区</label>
			<form class="form-inline">
		      <div id="distpicker1">
		        <div class="form-group">
		          <label class="sr-only" for="province4">Province</label>
		          <select class="form-control" id="province4"></select>
		        </div>
		        <div class="form-group">
		          <label class="sr-only" for="city4">City</label>
		          <select class="form-control" id="city4"></select>
		        </div>
		        <div class="form-group">
		          <label class="sr-only" for="district4">District</label>
		          <select class="form-control" id="district4"></select>
		        </div>
		      </div>
		    </form>

			<form class="form-horizontal" role="form" onsubmit="return postInfo()"
				style="margin-top: 10px;">
				<div class="form-group">
				  <label for="address" class="col-sm-3 control-label">地址</label>
				  <div class="col-sm-8">
						<input type="text" required="required" class="form-control"
								  oninvalid="setCustomValidity('请输入详细地址')"
								oninput="setCustomValidity('')" value="{$info_one.address}"
								placeholder="输入小区或者大夏名" id="address" >
						
				  </div>
			   </div>
			   <div class="form-group">
				  <label for="uname" class="col-sm-3 control-label">收货人姓名</label>
				  <div class="col-sm-8">
						<input type="text" required="required" class="form-control"
								  oninvalid="setCustomValidity('请输入收货人姓名')"
								oninput="setCustomValidity('')" value="{$info_one.uname}"
								placeholder="输入收货人姓名" id="uname" >
				  </div>
			   </div>
			   <div class="form-group">
				  <label for="uphone" class="col-sm-3 control-label">收货人电话</label>
				  <div class="col-sm-8">
						<input type="number" required="required" class="form-control"
								  oninvalid="setCustomValidity('请输入收货人电话')"
								oninput="setCustomValidity('')" value="{$info_one.uphone}"
								placeholder="输入收货人姓名" id="uphone" >
				  </div>
			   </div>

			   <div class="form-group">
				 <div class="checkbox col-sm-8 col-sm-offset-3">
				  <button type="submit" class="btn btn-warning btn-block btn-md" onclick="hideAddress()">确定</button>
				 </div>
			   </div>
			</form>
		
		</div>

		<div class="ct-top11-1" style="height:auto;padding:10px;font-size: 14px;">
            {foreach from=$info_all item=vo}
                 <div style="margin-bottom: 10px;">
                     <input type="radio" name="flag" onchange="changeid({$vo.infoid})"
                      {if $vo.flag eq 1} value="{$vo.infoid}" checked {else}value="0" {/if}><strong>{$vo.city} {$vo.address}</strong>
                     <p>&nbsp;&nbsp;&nbsp;<span>收货人姓名：{$vo.uname}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>收货人电话：{$vo.uphone}</span></p>
                 </div>
            {/foreach}
            <input type="hidden" id="infoid" value="{$info_all[0].infoid}"/>
        </div>

		<div class="ct-top8">商品信息</div>
		<div class="ct-top9">
			<div class="ct-t9-txt1">商品</div>
			<div class="ct-t9-txt2">属性</div>
			<div class="ct-t9-txt3">购买数量</div>	
			<div class="ct-t9-txt4">小计</div>
		</div>
		<ul>
		{foreach item=i from=$shop name=shop}
			<li>
				<a href="index.php?m=home&c=goods&a=detail&id={$i.goodsinfo.gid}">
					<img src="{$smarty.const.upload_url}{$i.goodsinfo.photo}" title="{$i.goodsinfo.gname} ">
				</a>
				<div class="ct-abox1">
					<a href="index.php?m=home&c=goods&a=detail&id={$i.goodsinfo.gid}">{$i.goodsinfo.gname}</a>
				</div>
				 <div class="ct-txt7">
					{$i.norminfo.norname}<br>
					{$i.norminfo.weight1}<br>
					{$i.norminfo.weight2}<br>
					{$i.norminfo.enclosure}<br>
				</div>	
				<div class="ct-txt9">
					<input type="text" class="ct-t9-ln-txt" value="{$i.goodsinfo.num}" readonly="true">
				</div>
				<div class="ct-txt10"><span>{$i.goodsinfo.num*$i.norminfo.price}</span>元</div>
			</li>
		{/foreach}
		</ul>
		<div class="ct-top10">留言</div>
		<div class="ct-top11-1">
		</div>
		<textarea class="ct-top11" id="myinfo"></textarea>
		<div class="ct-top8">付款信息</div>
		<div class="ct-top11-1"></div>
		<div class="ct-top12">支付宝</div>
		<div class="ct-top11-1"></div>
		<div class="ct-top13">
			<font color="#D0CCD0">(共 <span>{$count}</span>件)</font> 商品金额：
			<span>{$amount}</span>元</br>
			总计金额：
			<font color="#F55A19"><span>{$amount}</span>元</font>
		</div>
		<div class="ct-top14">
			<div class="ct-t14-btn" onclick="postOrder()">付款</div>
		</div>
	</div>

	<div style="clear: both"></div>

	<footer id="shopDetailFooter" style="margin-top: 20px;">
		{include file="./footer.html"}
	</footer>

	<div class="commonModal">
		{include file="./modal.html"}
	</div>
	<script src="{$smarty.const.JS_URL}ydyk.js"></script>
	<script type="text/javascript">
	function changeid(obj){
		
		console.log(obj);
		$('#infoid').val(obj);
	}
	function postInfo(){
		var uname=$('#uname').val();
		var uphone=$('#uphone').val();
		var address=$('#address').val();
		var province4=$('#province4').val();
		var city4=$('#city4').val();
		var flag=0;
		var infoid=$('#infoid').val();
		var district4=$('#district4').val();
		var city=province4+city4+district4;
		$.ajax({
			type:"post",
			url:"index.php?m=home&c=order&a=postInfo",
			data:{
				'uname':uname,
				'address':address,
				'city':city,
				'uphone':uphone,
				'flag':flag,
				'id':infoid
			},
			dataType: "json",
			success:function(res){
				if(res.num=='1'){
					$('#infoid').val(res.id)
					modal_show('系统提示','提交成功');
				}else{
					modal_show('系统提示',res.msg);
				}
				
			}
		});
		return false;
	}
	function postOrder(){
		modal_show('系统提示','正在提交订单，请稍稍等待！');
		var infoid=$('#infoid').val();
		var myinfo=$('#myinfo').val();
		$.ajax({
			type:"post",
			url:"index.php?m=home&c=order&a=postOrder",
			data:{
				'id':infoid,
				'myinfo':myinfo
			},
			dataType: "json",
			success:function(res){
				if(res.num=='1'){
					modal_show('系统提示','提交成功');
					window.location.href="index.php?m=home&c=order&a=payOrder";
				}else{
					modal_show('系统提示',res.msg);
				}
				
			}
		});
	}

	function hideAddress() {
        $('#addAdress').hide(200);
        window.location.href='index.php?m=home&c=shopcar&a=confirm';
    }
    function showAddress() {
        $('#addAdress').show(200);
    }
    $('.close').click(function () {
        $('#addAdress').hide(200);
    });
	</script>
</body>
</html>